@import "tailwindcss";

.grid-ventajas {
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-ventajas > div {
  width: 100%;
  max-width: 250px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-next {
  right: -40px;
  display: none;
}

.swiper-button-prev {
  left: -40px;
  display: none;
}

@media (width >= 40rem) {
  .swiper-button-next, .swiper-button-prev {
    display: block;
  }
}

.hero {
  background-image: url(https://images.pexels.com/photos/1450353/pexels-photo-1450353.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}